{% extends "plantila.html" %}

{% block content %}

 
 
    <div class="ee">
      <center>
        <br><br><br><br>
        <h1 class="kk">C.D.C.H</h1>
        <section class="yñ">

       <article>
        <center>
        <h2 class="kñ">BIENVENIDO A MI PORTADA</h2>
        <h1 class="kñ">"TE INVITO A QUE VISITES MI PAGINA Y SEPAS UN POCO MAS DE MI"</h1>
         
      </Center>
        </article>
        <article>
          <center>
              <img src="static/imagenes/hh.jpeg" alt="" width="300" height="400"><br><br>
            <div class="social-icons">
              <a href="https://web.whatsapp.com/" target="_blank" rel="noopener noreferrer" aria-label="WhatsApp">
                  <i class="fa-brands fa-whatsapp"></i>
              </a>
              <a href="https://www.youtube.com/@carlosdavidcardenashernand9488" target="_blank" rel="noopener noreferrer" aria-label="YouTube">
                  <i class="fa-brands fa-youtube"></i>
              </a>
              <a href="https://www.facebook.com/carlosdavid.cardenashernandez.7" target="_blank" rel="noopener noreferrer" aria-label="Facebook">
                  <i class="fa-brands fa-facebook-f"></i>
              </a>
              <a href="https://www.instagram.com/" target="_blank" rel="noopener noreferrer" aria-label="Instagram">
                  <i class="fa-brands fa-instagram"></i>
              </a>
          </center>
        </article>
      
        </section>
        
      </center>
    </div>
    
        <nav>
          <ul>
              <li><a href="http://127.0.0.1:5000/">INICIO</a></li>
              <li><a href="http://127.0.0.1:5000/infor">SOBRE MI</a></li>
              <li><a href="http://127.0.0.1:5000/saludo">CONTACTO</a></li>
              
          </ul>
          
        
           
        </nav>
   

{% endblock %}